@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Intro;
  font-display: swap;
  src: url("../fonts/IntroDemo-BlackCAPS.woff2") format("woff2"), url("../fonts/IntroDemo-BlackCAPS.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  touch-action: pan-x pan-y;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
body._loaded {
  opacity: 1;
  visibility: visible;
}
body._hold {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: #0d1e24 radial-gradient(126.37% 173.73% at 51.12% -70.62%, #5ce2ff 0%, rgba(86, 235, 255, 0) 67.62%);
}
.wrapper._visible {
  display: flex;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  background-color: #14acaf;
  width: 18.3125rem;
  height: 3.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  position: relative;
  overflow: hidden;
}
.button p {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875;
  text-transform: uppercase;
  color: #9af4fa;
}
.button_cash {
  background-color: #af7614;
  flex-direction: column;
}
.button:active {
  transform: translateY(2px);
}
.button._hold {
  opacity: 0.5;
  pointer-events: none;
}
.button::before, .button::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 20px;
  background-color: #0d1e24;
  transform: rotate(45deg);
}
.button::before {
  bottom: -0.625rem;
  left: -0.8125rem;
}
.button::after {
  top: -0.625rem;
  right: -0.8125rem;
}
.button_start {
  width: 100%;
  height: 2.5625rem;
  column-gap: 0.625rem;
}
.button_start p {
  font-size: 0.6875rem;
  line-height: 1.1818181818;
}
.button_start::before, .button_start::after {
  background-color: #142c36;
}

.preloader {
  background: #0d1e24 radial-gradient(126.37% 173.73% at 51.12% -70.62%, #5ce2ff 0%, rgba(86, 235, 255, 0) 67.62%);
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.preloader._hide {
  display: none;
}
.preloader__title {
  font-family: Intro;
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  text-transform: uppercase;
  color: #46e9ea;
  margin-bottom: 1.25rem;
  margin-top: 0.625rem;
}
.preloader__button {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.acces-preloader {
  width: 100%;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}
.acces-preloader._hide {
  display: none;
}
.acces-preloader__text {
  padding-bottom: 0.75rem;
}

.text-pre {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #9af4fa;
  text-transform: uppercase;
}

.block-bet {
  width: 100%;
}
.block-bet._hold {
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__title {
  color: rgba(255, 255, 255, 0.57);
}
.block-bet__controls {
  min-height: 28px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  column-gap: 0.3125rem;
}
.block-bet__controls._hold {
  transition: all 0.6s ease 0s;
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__min, .block-bet__max {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #183d49;
  transition: all 0.3s ease 0s;
}
.block-bet__min:active, .block-bet__max:active {
  transform: translateY(2px);
}
.block-bet__min p, .block-bet__max p {
  text-transform: uppercase;
  color: #ffffff;
}
.block-bet__minus, .block-bet__plus {
  min-height: 100%;
  background: #183d49;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.block-bet__bet {
  min-height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.9375rem;
  background: #1b424f;
  border: 3px solid #305b69;
  margin-bottom: 0.3125rem;
}
.block-bet__coins {
  color: #ffffff;
}
.block-bet__coins._no-money {
  animation: no-money 0.5s ease 2;
}

.check._no-money {
  animation: no-money 0.5s ease 2;
}
.check._delete-money {
  animation: delete-money 0.5s ease;
}
.check._anim-add-money {
  animation: add-money 0.5s ease 2;
}

.money {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.money__body {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.625rem;
}
.money__text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #64ffff;
}
@media (min-height: 37.5em) {
  .money__text {
    font-size: 1.125rem;
    margin-right: 1.25rem;
  }
}
.money__row {
  width: 7.75rem;
  height: 1.875rem;
  background: #11313b;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-height: 37.5em) {
  .money__row {
    margin-top: 0.3125rem;
    margin-right: 0.625rem;
    transform: scale(1.3);
  }
}
.money__coins {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #ffffff;
  padding-right: 0.625rem;
}
.money__icon {
  position: relative;
  top: -0.125rem;
}

.icon-anim img._anim-icon-jump {
  animation: jump_icon 5s ease;
}
.icon-anim img._anim-icon-scale {
  animation: scale_icon 0.5s ease 2;
}
.icon-anim img._anim-icon-rotate {
  animation: rotate_icon 1.5s ease-out 1;
}

.button-back {
  display: block;
  width: 1.625rem;
  height: 1.625rem;
  background: url("../img/icons/arrow-left.svg") center/6px 11px no-repeat, #102a33;
  border-radius: 4.5px;
}
@media (min-height: 37.5em) {
  .button-back {
    transform: scale(1.5);
  }
}

.text {
  font-family: Intro;
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  text-transform: uppercase;
}

.text-game {
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 1.1818181818;
}

.main._active .main__header {
  animation: show_item_y 0.5s ease 0.6s forwards;
}
.main._active .main__buttons {
  animation: show_item_y 0.5s ease 0.6s forwards;
}
.main._active .main__title_1 {
  animation: show_item_x 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.9s forwards;
}
.main._active .main__title_2 {
  animation: show_item_x 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.9s forwards;
}
.main._active .main__image_2 {
  animation: show_item_x 0.7s ease 1.8s forwards;
}
.main._active .main__image_3 {
  animation: show_item_x 0.7s ease 1.8s forwards;
}
.main._active .main__title-image {
  animation: plane 1.5s ease 1.5s forwards;
}
.main__body {
  min-height: 100vh;
  position: relative;
  padding: 0.3125rem;
  display: flex;
  flex-direction: column;
}
.main__image {
  position: absolute;
}
.main__image_2 {
  bottom: -1.875rem;
  left: -3.75rem;
  opacity: 0;
  transform: translateX(-50px);
}
@media (max-width: 46.875em) {
  .main__image_2 img {
    max-width: 90%;
  }
}
@media (max-width: 40.625em) {
  .main__image_2 img {
    max-width: 80%;
  }
}
.main__image_3 {
  right: -2.8125rem;
  bottom: -5rem;
  opacity: 0;
  transform: translateX(50px);
}
@media (max-width: 46.875em) {
  .main__image_3 {
    right: -5.3125rem;
  }
  .main__image_3 img {
    max-width: 90%;
  }
}
@media (max-width: 40.625em) {
  .main__image_3 {
    right: -6.5625rem;
  }
  .main__image_3 img {
    max-width: 80%;
  }
}
.main__header {
  padding-right: 0.9375rem;
  opacity: 0;
  transform: translateY(-50px);
}
.main__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-height: 37.5em) {
  .main__content {
    row-gap: 4.375rem;
  }
}
.main__box-title {
  position: relative;
  width: 100%;
  min-height: 10rem;
}
.main__title {
  position: absolute;
  font-weight: 900;
  font-family: Intro;
  font-size: 4rem;
  line-height: 1.25;
  color: #46e9ea;
  text-transform: uppercase;
}
@media (min-height: 37.5em) {
  .main__title {
    font-size: 5rem;
  }
}
.main__title_1 {
  top: 0;
  left: 15%;
  opacity: 0;
  transform: translateX(-250px);
}
.main__title_2 {
  bottom: 5%;
  right: 21%;
  opacity: 0;
  transform: translateX(250px);
}
.main__title-image {
  position: absolute;
  left: 50%;
  transform: translateX(-200px) translateY(-300px);
  top: -1.5625rem;
  opacity: 0;
  z-index: 2;
}
@media (max-width: 46.875em) {
  .main__title-image {
    left: 52%;
    top: -0.9375rem;
  }
  .main__title-image img {
    max-width: 90%;
  }
}
@media (max-width: 40.625em) {
  .main__title-image {
    left: 57%;
    top: 0.9375rem;
  }
  .main__title-image img {
    max-width: 70%;
  }
}
.main__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5625rem;
  opacity: 0;
  transform: translateY(50px);
}
@supports (width: clamp( 10rem , -3.0625rem  +  38vw , 18.3125rem )) {
  .main__button {
    width: clamp( 10rem , -3.0625rem  +  38vw , 18.3125rem );
  }
}
@supports not (width: clamp( 10rem , -3.0625rem  +  38vw , 18.3125rem )) {
  .main__button {
    width: calc(10rem + 8.3125 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (height: clamp( 2.5rem , 1.2232142857rem  +  3.7142857143vw , 3.3125rem )) {
  .main__button {
    height: clamp( 2.5rem , 1.2232142857rem  +  3.7142857143vw , 3.3125rem );
  }
}
@supports not (height: clamp( 2.5rem , 1.2232142857rem  +  3.7142857143vw , 3.3125rem )) {
  .main__button {
    height: calc(2.5rem + 0.8125 * (100vw - 34.375rem) / 21.875);
  }
}

.header__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  font-family: Intro;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  color: #46e9ea;
  text-transform: uppercase;
}
.header__title_game {
  left: 3.125rem;
  transform: translate(0, -40%);
}
@media (min-height: 37.5em) {
  .header__title {
    font-size: 1.625rem;
  }
}
.header__icon {
  position: absolute;
  top: 0;
  left: 11.25rem;
}
.header__icon img {
  width: 3.125rem;
}
.shop._active .shop__header {
  animation: show_item_y 0.5s ease 1.1s forwards;
}
.shop._active .bacgrounds__grid {
  animation: show_item_grid 0.8s ease 0.6s forwards;
}
.shop._active .shop__button:first-child, .shop._active .shop__button:nth-child(2) {
  animation: show_item_x 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.4s forwards;
}
.shop._active .shop__button:last-child {
  animation: show_item_y 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.4s forwards;
}
.shop__body {
  min-height: 100vh;
  padding: 1.5625rem;
  position: relative;
  display: grid;
  grid-template: 1fr 7fr/1fr;
}
.shop__header {
  opacity: 0;
  transform: translateY(-50px);
}
.shop__buttons {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  row-gap: 1.875rem;
}
.shop__button {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.shop__button:first-child {
  transform: translateX(-50px);
}
.shop__button:nth-child(2) {
  transform: translateX(50px);
}
.shop__button:last-child {
  transform: translateY(50px);
}
.shop__button_big {
  grid-column-start: span 2;
}

.button-bonus__body {
  width: 11.5625rem;
  height: 6.9375rem;
  background: url("../img/icons/btn-bonus.png") center/contain no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.3125rem;
  padding: 0rem 0.625rem 0.625rem;
  position: relative;
}
@media (min-height: 37.5em) {
  .button-bonus__body {
    transform: scale(1.5);
  }
}
.button-bonus__body_game {
  width: 7.1875rem;
  height: 4.125rem;
  justify-content: flex-start;
}
.button-bonus__flare-box {
  position: absolute;
  top: 0.0625rem;
  left: 0.6875rem;
  width: 89%;
  height: 90%;
  overflow: hidden;
  clip-path: polygon(0% 0%, 85% 0%, 100% 25%, 100% 100%, 18% 100%, 0% 77%);
}
.button-bonus__flare-box_game {
  width: 83%;
}
.button-bonus__flare {
  position: absolute;
  top: 0;
  left: -150%;
  z-index: 5;
  height: 100%;
  width: 130px;
  transform: skewX(-20deg);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.001), rgba(255, 255, 255, 0.3));
}
.button-bonus__flare_1 {
  animation: flareAnimation 10s infinite linear;
}
.button-bonus__flare_2 {
  animation: flareAnimation 10s infinite linear 5s;
}
.button-bonus__flare_3 {
  animation: flareAnimation 10s infinite linear 7s;
}
.button-bonus__locator {
  transform-origin: center;
  animation: rotate 6s linear infinite;
}
.button-bonus__icon_game {
  padding-left: 0.1875rem;
  max-width: 32px;
}
.button-bonus__icon_game img {
  width: 100%;
}
.button-bonus__icon_game svg {
  width: 32px;
}
.button-bonus__text-item {
  max-width: 5.9375rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
}
.button-bonus__title {
  color: #72feff;
  font-size: 1rem !important;
}
.button-bonus__title_game {
  font-weight: 900;
  font-size: 0.5625rem !important;
  text-transform: uppercase;
}
.button-bonus__price {
  color: #d2ffff;
}
.button-bonus__count {
  font-weight: 900;
  font-size: 0.6875rem;
  line-height: 1.1818181818;
  color: #d2ffff;
}
.button-bonus__btn-buy {
  position: absolute;
  bottom: 0.0625rem;
  right: 0.09375rem;
  width: 4.25rem;
  height: 2.5625rem;
  background: url("../img/icons/btn-buy.png") center/contain no-repeat;
  padding: 0rem 0.4375rem 0.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d2ffff;
}

.bacgrounds__grid {
  position: absolute;
  opacity: 0;
}
.bacgrounds__grid_1 {
  top: 0;
  left: 0;
}
.bacgrounds__grid_2 {
  bottom: 0;
  right: 0;
}

.game._active .game__header {
  animation: show_item_y 0.5s ease 1.1s forwards;
}
.game._active .bacgrounds__grid {
  animation: show_item_grid 0.8s ease 0.6s forwards;
}
.game._active .game__actions {
  animation: show_item_x 0.5s ease 1.6s forwards;
}
.game._active .game__field {
  animation: show_item_y 0.5s ease 1.6s forwards;
}
.game._active .game__bonuses {
  animation: show_item_x_bonus 0.5s ease 1.6s forwards;
}
@media (min-width: 43.75em) {
  .game._active .game__bonuses {
    animation: show_item_x 0.5s ease 1.6s forwards;
  }
}
.game__body {
  padding: 0.125rem 0.9375rem;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}
@media (min-height: 22.5em) {
  .game__body {
    padding: 0.625rem 0.9375rem;
  }
}
.game__header {
  opacity: 0;
  transform: translateY(-50px);
  margin-bottom: 0.3125rem;
}
@media (min-height: 22.5em) {
  .game__header {
    margin-bottom: 0.9375rem;
  }
}
.game__main {
  min-height: calc(100vh - 39px);
  display: grid;
  grid-template-columns: 3fr minmax(200px, 500px) 1fr;
  column-gap: 0.625rem;
}
@media (min-height: 22.5em) {
  .game__main {
    min-height: calc(100vh - 65px);
  }
}
@media (min-height: 37.5em) {
  .game__main {
    min-height: 100%;
    margin-top: 2.5rem;
    grid-template-columns: 3fr 4fr;
  }
}
@media (max-width: 43.75em) {
  .game__main {
    grid-template-columns: 3fr 4fr;
  }
}
.game__actions {
  opacity: 0;
  transform: translateX(-50px);
}
.game__field {
  opacity: 0;
  transform: translateY(50px);
}
.game__bonuses {
  opacity: 0;
  transform: translateX(50px);
}

.actions-game__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
  padding: 0.3125rem 0.3125rem;
  background: #142c36;
  border: 0.774396px solid #14acaf;
}
@media (min-height: 22.5em) {
  .actions-game__body {
    padding: 0.9375rem 0.625rem;
  }
}
.actions-game__block-bet {
  margin-bottom: 0.4375rem;
}
.actions-game__objective {
  margin-bottom: 0.4375rem;
}
.actions-game__button-start {
  margin-bottom: 0.4375rem;
}
.actions-game__button-start_cash {
  color: #9af4fa;
  font-size: 0.6875rem;
  line-height: 1.1818181818;
}
.objective._hold {
  pointer-events: none;
  opacity: 0.3;
}
.objective__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.objective__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1b5154;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.objective__button:active {
  transform: scale(0.9);
}
@supports (width: clamp( 1.25rem , 0.0714285714rem  +  3.4285714286vw , 2rem )) {
  .objective__button_1 {
    width: clamp( 1.25rem , 0.0714285714rem  +  3.4285714286vw , 2rem );
  }
}
@supports not (width: clamp( 1.25rem , 0.0714285714rem  +  3.4285714286vw , 2rem )) {
  .objective__button_1 {
    width: calc(1.25rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (height: clamp( 1.25rem , 0.0714285714rem  +  3.4285714286vw , 2rem )) {
  .objective__button_1 {
    height: clamp( 1.25rem , 0.0714285714rem  +  3.4285714286vw , 2rem );
  }
}
@supports not (height: clamp( 1.25rem , 0.0714285714rem  +  3.4285714286vw , 2rem )) {
  .objective__button_1 {
    height: calc(1.25rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
.objective__button_2 {
  margin-left: 0.1875rem;
}
@supports (width: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem )) {
  .objective__button_2 {
    width: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem );
  }
}
@supports not (width: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem )) {
  .objective__button_2 {
    width: calc(1.75rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (height: clamp( 1.5rem , 0.3214285714rem  +  3.4285714286vw , 2.25rem )) {
  .objective__button_2 {
    height: clamp( 1.5rem , 0.3214285714rem  +  3.4285714286vw , 2.25rem );
  }
}
@supports not (height: clamp( 1.5rem , 0.3214285714rem  +  3.4285714286vw , 2.25rem )) {
  .objective__button_2 {
    height: calc(1.5rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
.objective__button_3 {
  margin-left: 0.125rem;
}
@supports (width: clamp( 1.5rem , 0.3214285714rem  +  3.4285714286vw , 2.25rem )) {
  .objective__button_3 {
    width: clamp( 1.5rem , 0.3214285714rem  +  3.4285714286vw , 2.25rem );
  }
}
@supports not (width: clamp( 1.5rem , 0.3214285714rem  +  3.4285714286vw , 2.25rem )) {
  .objective__button_3 {
    width: calc(1.5rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (height: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem )) {
  .objective__button_3 {
    height: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem );
  }
}
@supports not (height: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem )) {
  .objective__button_3 {
    height: calc(1.75rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
.objective__button_4 {
  background: #193439;
}
@supports (width: clamp( 2.0625rem , 0.8839285714rem  +  3.4285714286vw , 2.8125rem )) {
  .objective__button_4 {
    width: clamp( 2.0625rem , 0.8839285714rem  +  3.4285714286vw , 2.8125rem );
  }
}
@supports not (width: clamp( 2.0625rem , 0.8839285714rem  +  3.4285714286vw , 2.8125rem )) {
  .objective__button_4 {
    width: calc(2.0625rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (height: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem )) {
  .objective__button_4 {
    height: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem );
  }
}
@supports not (height: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem )) {
  .objective__button_4 {
    height: calc(1.75rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
.objective__button_4:active {
  transform: scale(1);
}
.objective__button_5 {
  margin-right: 0.125rem;
}
@supports (width: clamp( 1.5rem , 0.3214285714rem  +  3.4285714286vw , 2.25rem )) {
  .objective__button_5 {
    width: clamp( 1.5rem , 0.3214285714rem  +  3.4285714286vw , 2.25rem );
  }
}
@supports not (width: clamp( 1.5rem , 0.3214285714rem  +  3.4285714286vw , 2.25rem )) {
  .objective__button_5 {
    width: calc(1.5rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (height: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem )) {
  .objective__button_5 {
    height: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem );
  }
}
@supports not (height: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem )) {
  .objective__button_5 {
    height: calc(1.75rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
.objective__button_6 {
  margin-right: 0.1875rem;
}
@supports (width: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem )) {
  .objective__button_6 {
    width: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem );
  }
}
@supports not (width: clamp( 1.75rem , 0.5714285714rem  +  3.4285714286vw , 2.5rem )) {
  .objective__button_6 {
    width: calc(1.75rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (height: clamp( 1.5rem , 0.3214285714rem  +  3.4285714286vw , 2.25rem )) {
  .objective__button_6 {
    height: clamp( 1.5rem , 0.3214285714rem  +  3.4285714286vw , 2.25rem );
  }
}
@supports not (height: clamp( 1.5rem , 0.3214285714rem  +  3.4285714286vw , 2.25rem )) {
  .objective__button_6 {
    height: calc(1.5rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (width: clamp( 1.25rem , 0.0714285714rem  +  3.4285714286vw , 2rem )) {
  .objective__button_7 {
    width: clamp( 1.25rem , 0.0714285714rem  +  3.4285714286vw , 2rem );
  }
}
@supports not (width: clamp( 1.25rem , 0.0714285714rem  +  3.4285714286vw , 2rem )) {
  .objective__button_7 {
    width: calc(1.25rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (height: clamp( 1.25rem , 0.0714285714rem  +  3.4285714286vw , 2rem )) {
  .objective__button_7 {
    height: clamp( 1.25rem , 0.0714285714rem  +  3.4285714286vw , 2rem );
  }
}
@supports not (height: clamp( 1.25rem , 0.0714285714rem  +  3.4285714286vw , 2rem )) {
  .objective__button_7 {
    height: calc(1.25rem + 0.75 * (100vw - 34.375rem) / 21.875);
  }
}
.objective__button-title {
  font-weight: 300;
  font-size: 0.5625rem;
  line-height: 1.2222222222;
  color: #00ffff;
}
.objective__button-count {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #00ffff;
}

.information__header {
  display: flex;
  justify-content: space-between;
}
.information__text {
  display: inline-block;
  background: #12484b;
  border: 0.8px solid #14acaf;
  min-height: 1.625rem;
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 1.25;
  color: #9af4fa;
  text-transform: uppercase;
  padding: 0.0625rem 0.9375rem 0rem 0.125rem;
  position: relative;
}
.information__text::after {
  content: "";
  position: absolute;
  top: -0.40625rem;
  right: -0.4375rem;
  width: 0.9375rem;
  height: 1.875rem;
  background: #142c36;
  border-left: 0.8px solid #14acaf;
  border-top-right-radius: 50px;
  transform: rotate(-30deg);
}
.information__pins {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  column-gap: 0.1875rem;
  padding: 0 0.625rem;
}
.information__pins span {
  position: relative;
  z-index: 3;
  width: 0.25rem;
  height: 100%;
  transform: rotate(-30deg);
}
.information__pins span:nth-child(1) {
  background: linear-gradient(180deg, #14acaf -11.35%, rgba(20, 172, 175, 0) 99.98%);
}
.information__pins span:nth-child(2) {
  background: linear-gradient(180deg, #14acaf -30.35%, rgba(20, 172, 175, 0) 99.98%);
}
.information__pins span:nth-child(3) {
  background: linear-gradient(180deg, #14acaf -60.35%, rgba(20, 172, 175, 0) 95%);
}
.information__pins span:nth-child(4) {
  background: linear-gradient(180deg, #14acaf -80.35%, rgba(20, 172, 175, 0) 90%);
}
.information__pins span:nth-child(5) {
  background: linear-gradient(180deg, #14acaf -100.35%, rgba(20, 172, 175, 0) 85%);
}
.information__pins span:nth-child(6) {
  background: linear-gradient(180deg, #14acaf -120.35%, rgba(20, 172, 175, 0) 80%);
}
.information__body {
  background: #12484b;
  border: 0.8px solid #14acaf;
  position: relative;
  top: -0.05rem;
}
.information__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.information__item {
  font-weight: 400;
  font-size: 0.5625rem;
  line-height: 1.2222222222;
  color: #00ffff;
}
.information__item:first-child {
  border-right: 0.8px solid #14acaf;
}
.information__item-inner {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  row-gap: 0.4375rem;
}
.information__block {
  display: flex;
  column-gap: 0.9375rem;
}
.information__numbers {
  display: flex;
  flex-direction: column;
  row-gap: 0.4375rem;
}
.information__number {
  text-align: center;
}
.field__body {
  display: flex;
  align-items: center;
  min-height: 100%;
  background: linear-gradient(180deg, rgba(0, 93, 146, 0.2) 0%, rgba(14, 0, 99, 0.2) 100%), rgba(52, 52, 52, 0.35);
  position: relative;
  z-index: 2;
}
@supports (padding-top: clamp( 0.1875rem , -0.5rem  +  2vw , 0.625rem )) {
  .field__body {
    padding-top: clamp( 0.1875rem , -0.5rem  +  2vw , 0.625rem );
  }
}
@supports not (padding-top: clamp( 0.1875rem , -0.5rem  +  2vw , 0.625rem )) {
  .field__body {
    padding-top: calc(0.1875rem + 0.4375 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (padding-bottom: clamp( 0.1875rem , -0.5rem  +  2vw , 0.625rem )) {
  .field__body {
    padding-bottom: clamp( 0.1875rem , -0.5rem  +  2vw , 0.625rem );
  }
}
@supports not (padding-bottom: clamp( 0.1875rem , -0.5rem  +  2vw , 0.625rem )) {
  .field__body {
    padding-bottom: calc(0.1875rem + 0.4375 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (padding-left: clamp( 0.1875rem , -0.5rem  +  2vw , 0.625rem )) {
  .field__body {
    padding-left: clamp( 0.1875rem , -0.5rem  +  2vw , 0.625rem );
  }
}
@supports not (padding-left: clamp( 0.1875rem , -0.5rem  +  2vw , 0.625rem )) {
  .field__body {
    padding-left: calc(0.1875rem + 0.4375 * (100vw - 34.375rem) / 21.875);
  }
}
@supports (padding-right: clamp( 0.1875rem , -0.5rem  +  2vw , 0.625rem )) {
  .field__body {
    padding-right: clamp( 0.1875rem , -0.5rem  +  2vw , 0.625rem );
  }
}
@supports not (padding-right: clamp( 0.1875rem , -0.5rem  +  2vw , 0.625rem )) {
  .field__body {
    padding-right: calc(0.1875rem + 0.4375 * (100vw - 34.375rem) / 21.875);
  }
}
.field__arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.field__arrows span:first-child::before, .field__arrows span:last-child::before, .field__arrows span:nth-child(2)::before, .field__arrows span:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 0.125rem;
  background-color: #00f0ff;
}
.field__arrows span:first-child::after, .field__arrows span:last-child::after, .field__arrows span:nth-child(2)::after, .field__arrows span:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 0.125rem;
  height: 1.25rem;
  background-color: #00f0ff;
}
.field__arrows span:first-child::before {
  top: -0.0625rem;
  left: -0.0625rem;
}
.field__arrows span:first-child::after {
  top: -0.0625rem;
  left: -0.0625rem;
}
.field__arrows span:nth-child(2)::before {
  top: -0.0625rem;
  right: -0.0625rem;
}
.field__arrows span:nth-child(2)::after {
  top: -0.0625rem;
  right: -0.0625rem;
}
.field__arrows span:nth-child(3)::before {
  bottom: -0.0625rem;
  right: -0.0625rem;
}
.field__arrows span:nth-child(3)::after {
  bottom: -0.0625rem;
  right: -0.0625rem;
}
.field__arrows span:last-child::before {
  bottom: -0.0625rem;
  left: -0.0625rem;
}
.field__arrows span:last-child::after {
  bottom: -0.0625rem;
  left: -0.0625rem;
}
.field__background {
  background: url("../img/game/bg-field.png") center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.field__background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}
.field__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
}
.field__items._hold {
  pointer-events: none;
}
.item-field {
  position: relative;
  display: flex;
  min-height: 100%;
  width: 100%;
}
@supports (height: clamp( 2.5rem , 0.5357142857rem  +  5.7142857143vw , 3.75rem )) {
  .item-field {
    height: clamp( 2.5rem , 0.5357142857rem  +  5.7142857143vw , 3.75rem );
  }
}
@supports not (height: clamp( 2.5rem , 0.5357142857rem  +  5.7142857143vw , 3.75rem )) {
  .item-field {
    height: calc(2.5rem + 1.25 * (100vw - 34.375rem) / 21.875);
  }
}
.item-field._active .target__body {
  z-index: 5;
  animation: move_target 2s ease forwards;
}
.item-field._active .item-field__text {
  animation: change_color 0.5s ease forwards 2.5s;
}
.item-field._active .item-field__circle {
  opacity: 0.5;
  transition: all 0.3s ease 3.3s;
}
.item-field__body {
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, rgba(17, 9, 9, 0.5) 0%, rgba(89, 89, 89, 0.445) 100%);
  border-radius: 7px;
  overflow: hidden;
}
.item-field__image img {
  max-width: 80%;
}
@media (min-height: 20.625em) {
  .item-field__image img {
    max-width: 88%;
  }
}
.item-field__circle {
  background: url("../img/game/destroyed-target.svg") center/contain no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
}
.item-field__cap {
  background: url("../img/game/bg-item.png") center/cover no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  transition: all 0.3s ease 0s;
}
.item-field__cap._hide {
  opacity: 0;
}
.item-field__cap._locator {
  animation: blik-2 0.5s ease 5;
}
.item-field__text {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #00ffff;
}

.target__body {
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
}
.target__body span:first-child::before, .target__body span:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00d1ff;
}
.target__body span:first-child::before {
  width: 0.0625rem;
  height: 0.75rem;
}
.target__body span:first-child::after {
  width: 0.75rem;
  height: 0.0625rem;
}
.target__body span:nth-child(2)::before, .target__body span:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #00d1ff;
}
.target__body span:nth-child(2)::before {
  width: 0.0625rem;
  height: 0.75rem;
}
.target__body span:nth-child(2)::after {
  width: 0.75rem;
  height: 0.0625rem;
}
.target__body span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.125rem;
  height: 0.125rem;
  border-radius: 50%;
  background-color: #00ffff;
}
.target__body span:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 0.75rem;
  height: 0.03125rem;
  background-color: #00d1ff;
}
.target__body span:nth-child(4)::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.03125rem;
  height: 0.75rem;
  background-color: #00d1ff;
}
.target__body span:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 0.75rem;
  height: 0.03125rem;
  background-color: #00d1ff;
}
.target__body span:last-child::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.03125rem;
  height: 0.75rem;
  background-color: #00d1ff;
}

@media (max-width: 43.75em) {
  .bonuses {
    position: absolute;
    top: -0.625rem;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (min-height: 37.5em) {
  .bonuses {
    grid-column-start: span 2;
    margin-top: 2.5rem;
  }
}
.bonuses__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-height: 37.5em) {
  .bonuses__inner {
    flex-direction: row;
    column-gap: 3.75rem;
  }
}
@media (max-width: 43.75em) {
  .bonuses__inner {
    flex-direction: row;
    transform: scale(0.5);
  }
}
.bonuses__button {
  opacity: 1;
}
.bonuses__button._anim {
  animation: blik 0.5s ease 2;
}
.bonuses__button._anim-2 {
  animation: blik 0.5s ease infinite;
}
.bonuses__button._hold {
  opacity: 0.5;
  pointer-events: none;
}

@keyframes no-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 0, 0);
    transform: scale(1.1);
  }
}
@keyframes delete-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 155, 155);
    transform: translateY(3px);
  }
}
@keyframes add-money {
  100% {
    color: yellow;
    transform: translateY(-3px);
  }
}
@keyframes show_item_y {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes show_item_x {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes show_item_x_bonus {
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}
@keyframes show_item_grid {
  100% {
    opacity: 0.1;
  }
}
@keyframes plane {
  0% {
    transform: translateX(-400px) translateY(-300px) scale(0.1);
  }
  100% {
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes flareAnimation {
  0%, 80% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move_target {
  50%, 80% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  86% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 1;
  }
  99% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}
@keyframes change_color {
  100% {
    color: rgb(201, 92, 92);
  }
}
@keyframes blik {
  100% {
    opacity: 0.2;
  }
}
@keyframes blik-2 {
  100% {
    opacity: 0.6;
  }
}
